.page {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #000000;
  background: #fafafa;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.section__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin: 0;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000000;
  padding-bottom: 23px;
}

@media screen and (max-width: 600px) {
  .section__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
}
